* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.main-banner {
  background-image: url('images/banner-image.jpg');
  min-width: 1400px;
  min-height: 695px;
}
